.breadcrumbs {
    padding: 15px 20px;
    margin-top: 90px;
    .container-fluid{
      max-width: 1200px;
      margin: auto;
      padding: 0 25px;
      a{
        @include text(14px, 400, $primary_text_color, 0);
        text-decoration: none;
      }
      .breadcrumb_last{
        @include text(14px, 400, $primary_text_color, 0);
      }
    }
  }