.breadcrumbs {
  padding: 15px 20px;
  margin-top: 90px;
  transition: all 1s;
  .container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;

    a {
      @include text(14px, 400, $primary_text_color, 0);
      text-decoration: none;
    }

    .breadcrumb_last {
      @include text(14px, 400, $primary_text_color, 0);
    }
  }
}
.body {
  .contact {
    .container-fluid {
      @media screen and (min-width: 300px) {
        max-width: 100%;
        padding: 0 15px;
        margin: auto;
      }

      @media screen and (min-width: 576px) {
        max-width: 100%;
        padding: 0 25px;
        margin: auto;
      }

      @media screen and (min-width: 992px) {
        max-width: 100%;
      }

      @media screen and (min-width: 1200px) {
        max-width: 1200px;
        margin: auto;
        padding: 16px 25px;
      }
      .main-content {
        @include max-width-750px();
        .contact-heading{
          h2{}

        }
        .contact-body{
          .thumbnail{
            img{

            }
          }
          .main-form{
            .contact-form{
              .form-header{
                h3{

                }
                p{

                }
              }
              .form-body{
                .form-input{
                  input{

                  }
                  textarea{

                  }
                }
                .btn-send{
                  button{

                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .call-help {
    .container-fluid {
      .main-content {
        .call-help-heading {
          .sub-titlte {
          }
          .main-title {
          }
          p {
          }
        }
        .call-help-body {
          .wrapper {
            .info {
              .icon {
                span {
                }
              }
              .details {
                h4 {
                }
                p {
                }
                a {
                }
              }
            }
          }
        }
      }
    }
  }
  .map {
    .container-fluid {
      .main-content {
        iframe {
        }
      }
    }
  }
}
