@import "../foundation/variables";
@import "../foundation/mixin";
@import "../foundation/base";
@import "../foundation/sanitize";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 0;
  display: grid;
  align-items: center;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  transition: all 5s;
  .navigation {
    position: relative;
    .container-fluid {
      max-width: 1200px;
      margin: auto;
      padding: 0 25px;
      .logo {
        margin: 0;
        padding: 0;
        font-size: 26px;
        font-weight: 700;
        text-transform: capitalize;
        color: $tertiary_text_color;
        letter-spacing: -1px;
      }
      .navbar-toggler {
        background: #dc4f72;
        i {
          color: #fff;
        }
      }
      .menu {
        .list {
          @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .nav-item {
            &:hover {
              background: transparent;
            }
            .nav-link {
              position: relative;
              transition: all 0.6s ease;

              &:hover {
                color: $tertiary_text_color;
                &::after {
                  width: 20px;
                }
              }
              &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                left: 8px;
                bottom: 5px;
                background: $tertiary_text_color;
                transition: width 0.5s;
                @media screen and (max-width: 992px) {
                  left: 0;
                }
              }
            }
          }
          .home {
            .nav-link {
              @include text(16px, 400, $primary_text_color, 0);
            }
          }
          .about {
            .nav-link {
              @include text(16px, 400, $primary_text_color, 0);
            }
          }
          .service {
            .nav-link {
              @include text(16px, 400, $primary_text_color, 0);
            }
          }
          .page {
            .nav-link {
              &::after {
                @media screen and (max-width: 992px) {
                  left: 32%;
                }
              }
              @include text(16px, 400, $primary_text_color, 0);
              a {
                i {
                  font-size: 14px !important;
                  padding-left: 2px !important;
                }
              }
            }
            ul {
              @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
              &::before {
                content: "";
                width: 14px;
                height: 14px;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                display: block;
                border-right: none;
                border-bottom: none;
                transform: translateX(-50%) rotateZ(45deg);
                position: absolute;
                top: -7px;
                left: 65%;
                z-index: 1001;
                @media screen and (max-width: 992px) {
                  top: 33px;
                }
              }
              li {
                transition: all 0.5s ease;

                &:hover {
                  a {
                    color: $tertiary_text_color;
                    background: transparent;
                    &::after {
                      width: 20px;
                    }
                  }
                }
                a {
                  padding: 10px 25px;
                  padding-right: 50px;
                  position: relative;
                  transition: all 0.5s ease;
                  &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    left: 25px;
                    bottom: 5px;
                    background: $tertiary_text_color;
                    transition: width 0.5s;
                  }
                }
              }
            }
          }
          .contact {
            .nav-link {
              @include text(16px, 400, $primary_text_color, 0);
            }
          }
          .schedule {
            &:hover {
              background: transparent;
            }
            a.button-schedule {
              text-transform: uppercase;
              @include button(
                14px,
                700,
                $tertiary_text_color,
                5px,
                30px,
                15px,
                #fff,
                $tertiary_text_color
              );
            }
          }
        }
      }
    }
  }
}
.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}
